<h1>Editing Device</h1>

<%= render 'form', device: @device %>

<%= link_to 'Show', @device, :class => "btn btn-danger btn-sm" %> |
<%= link_to 'Back Devices', devices_path, :class => "btn btn-danger btn-sm" %> |
<%= link_to 'Back Games', games_path, :class => "btn btn-danger btn-sm" %>
