<div class="container">
  <h1 class="text-center display-2">Welcome, Gamers!</h1>
  <img class="mx-auto d-block" src="https://videoconsolasedutecno.files.wordpress.com/2015/04/evolution-of-video-games.png" alt="Evolution of Video Games">
  <br><br>
  <p class="text-center">Looking for players that play on the same device as you and game? Go no further click below to find them!
  </p>
</div>

<div class="text-center">
  <%= button_to 'Current Devices', devices_path, :method => :get,  :class => "btn btn-danger btn-sm" %> <br>
  <%= button_to 'Current Games', games_path, :method => :get,  :class => "btn btn-danger btn-sm"%>
</div>
